$dark-theme: true;

body {
	@if($dark-theme) {
		color: white;
		background-color: #121215;
	}
}

.main-title {
	padding-bottom: 0.5em;
	font-size: 42px;
	font-weight: bold;
	text-align: center;
	@if($dark-theme) {
		border-bottom: 1px solid #404040;
	}
}

.page-item {
	&.active {
		.page-link {
			background-color: #c477ea;
			border-color: transparent;
		}
	}

	&:first-of-type {
		.page-link {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}

	&:last-of-type {
		.page-link {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}

.page-link {
	border-radius: 5px;
	color: #1b1e21;

	@if($dark-theme) {
		background-color: #1b1e21;
		border: 1px solid #404040;
		color: white;
	}

	&:hover {
		color: #1b1e21;
		@if($dark-theme) {
			border: 1px solid #404040;
			background-color: darken(#1b1e21, 5%);
			color: white;
		}
	}

	.fa-heart-o, .fa-heart {
		pointer-events: none;
	}
}

.modal-background {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0,0,0, 0.7);
}

.modal-content {
	@if($dark-theme) {
		background-color: #1b1e21;
		border: 1px solid #404040;
	}

	.modal-header {
		@if($dark-theme) {
			border-bottom: 1px solid #404040;
		}
	}

	.modal-title {
		color: #c477ea;
	}

	.modal-footer {
		@if($dark-theme) {
			border-top: 1px solid #404040;
		}
	}
}

.close {
	span {
		position: relative;
		z-index: -1;
		text-shadow: none;

		@if($dark-theme) {
			color: white;
		}
	}
}

.form-control {
	@if($dark-theme) {
		background-color: #1b1e21;
		border: 1px solid #404040;
		color: white;
	}

	&:focus {
		@if($dark-theme) {
			background-color: darken(#1b1e21, 5%);
			border: 1px solid #404040;
			color: white;
		}
	}
}

.card {
	@if($dark-theme) {
		background-color: #1b1e21;
		border: 1px solid #404040;
	}

	.card-footer {
		@if($dark-theme) {
			border-top: 1px solid #404040;
		}
	}
}

.card-body-title {
	font-weight: bolder;
}

.card-body-sub {
	color: #c477ea;
}

.fa-heart-o, .fa-heart {
	color: #cf2323;
	cursor: pointer;
}

.fa-star {
	color: #a08c2f;
}